@font-face{
    font-family: IRANSans ;
    font-style: normal ;
    font-weight: normal;
    src:url("../fonts/irsans.ttf");
}
*:not(.glyphicon):not(.material-icons) {
    font-family: IRANSans !important;
}
html{
    height: 100% ;
}
body{
    background: url("../img/background.jpg") no-repeat center center fixed;
    background-size: cover;
    padding: 0 ;
    margin: 0 ;
}

.container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.navbar{
    padding: 0px !important;
}
.navbar-brand{
    height: 58px !important;
    width: 58px !important;
}
.navbar-brand img{
    position:absolute;
    height: 50px;
    left:0;
    top:0;
    margin-top:4px;
}
li{
    margin-top: 15px;
}
li a{
    font-size: 12px !important;
    font-weight: bold !important;
    line-height: 0px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
}
.active{
    border-radius: 20px;
    color:#fff;
    background-color: #009ddc ;
}
.navbar{
    box-shadow: none;
}
.register{
    direction:rtl;
}
.control-label{
    right:0;
}
form{
    width:80%;
    margin:auto;
}
.row{
    margin-left: 0;
    margin-right: 0;
}
.name-family div:first-child{
    padding-right:2.5px !important;
    padding-left:0px !important;
}
.name-family div:first-child + div{
    padding-right:0px !important;
    padding-left:2.5px !important;
}
.form-control{
    background-image:linear-gradient(#009ddc, #009ddc), linear-gradient(#D2D2D2, #D2D2D2) !important;
}
.form-group.has-error.is-focused .form-control{
    background-image:linear-gradient( #f44336,#f44336 ), linear-gradient(#D2D2D2, #D2D2D2) !important;
}
#submit{
    border-radius: 10px;
    background-color:#009ddc;
    color:#fff;
    transition: 0.3s;
    width:100% ;
    background-image:linear-gradient(#17a1d8,#17a1d8) !important;
}
#submit:hover{
    background-color:#0079aa;
    background-image:linear-gradient(#0079aa,#0079aa) !important;
}
h3{
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}
h4{
    font-size: 11.5px;
    text-align: center;
}
.not-found div{
    text-align: center;
    background-color:#e53935;
    border-radius: 10px !important;
    color:#fff;
    display: none;
    width:80%;
    margin:auto;
}
.not-found p{
    margin: 0 !important;
    padding: 10px 0 ;
}
.webui-popover-content{
    text-align: center;
    color:#f44336;
}
p{
    margin:0 !important;
}
